* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../public/fonts/OpenSans.ttf');
  font-display: swap;
}

.MuiIconButton-root {
  box-shadow: none;
}

.MuiAccordionSummary-content {
  align-items: center;
}

.image-gallery-image {
  border-radius: 8px !important;
}

.image-gallery-image img {
  border-radius: 8px !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100% !important;
}

.input-range__slider {
  background: #ea56ae !important;
  border: 1px solid #ea56ae !important;
}
.input-range__track--active {
  background: #ea56ae !important;
}
.input-range__label {
  display: none !important;
}

.slick-dots > li > button {
  width: 50px !important;
  height: 50px !important;
}

.slick-dots > li > button::before {
  width: 50px !important;
  height: 50px !important;
  font-size: 12px !important;
  line-height: 50px !important;
  color: #1f3a8f !important;
}

.slick-dots > .slick-active > button::before {
  opacity: 1 !important;
}
